/* hero background image */


.container-fluid {
    min-height: 100vh;
    position:relative;
}

video {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn:hover{
    background: linear-gradient(#ffffff, #538004, #ffffff);

    filter: blur(0px);
    color:black;
}

.cap{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode:overlay;
}
/* text css above hero image*/
.hero_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   

}

.hero_title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    

}



.hero_desc{
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 750px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}





/* about*/

.container_about{

    border: 2px solid rgb(0, 0, 0);
    margin: 60px;
    padding-right: 20px;
    
}

.texto_about{
    text-align: center;
}

.imageAboutPage {
    width: 80%;
    margin-bottom: 40px;
    margin-left: 40px;
}


.about_description{
    margin-top: 40px;
    
}
/* Iconos */

#iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

#iconos img{
    width: 50px;
    height: 50px;
}
    #iconos img:hover {
        transform: scale(1.1);
    background-color:rgb(255, 255, 255) ;
        border-radius: 30px;
        transition: all 1s;
    }
/* Portfolio */

#portfolio{
background-color: white;

}



    .drone{
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

    .imagen_drone{
        margin-bottom: 30px;
        height: 40px;
       
        animation-name: slow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    opacity: 1;

    }

    .imagen_drone2{
        margin-bottom: 40px;
        height: 50px;
       
        animation-name: slow2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    opacity: 1;
    }


    .mapa_texto{
        padding: 70px;
        
    }

    .social-icons {
        font-size: 36px;
        cursor: pointer;
    }
    .fa-instagram:hover,.fa-linkedin:hover {
        color: #35b9e1;
    }
    .fab {
        color: #ffffff;
    }
    /* footer styling */
    #footer {
        background-color: #000000;
        text-align: center;
        height: 100px;
    }
   

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgb(145, 143, 143);
}

#contact{
    text-align: center;
    background-color: #d3d3d3;
}

.textSupport{
    margin-left: 40px;
    padding-top: 40px;
}

#formulario {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.formulario_soporte {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.campo_textarea {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;


}

.main_support {
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_support_form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

}

#nombre{

margin-right: 17px;
}

#apellido{

    margin-right: 16px;
    }

    .navbar {
        height: 100px;
        
    }
    
    .imagenlogo{
        height: 100px;
        width: 100px;
    }



@keyframes slow {

    0%,
    100% {
        transform: translate(-25px, -25px);
    }

    25% {
        transform: translate(50px, -25px);
    }

    50% {
        transform: translate(25px, 50px);
    }

    75% {
        transform: translate(75px, 25px);
    }
}

@keyframes slow2 {

    0%,
    100% {
        transform: translate(-25px, -25px);
    }

    25% {
        transform: translate(25px, 75px);
    }

    50% {
        transform: translate(20px, 25px);
    }

    75% {
        transform: translate(-25px, 50px);
    }
}
@media (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

/* hero background image */
.container-fluid {
    min-height: 100vh;
    position:relative;
}

video {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn:hover{
    background: linear-gradient(#ffffff, #538004, #ffffff);

    filter: blur(0px);
    color:black;
}

.cap{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode:overlay;
}
/* text css above hero image*/
.hero_name {
    display: flex;
    flex-direction: row;

   
   

}

.hero_title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    

}



.hero_desc{
    font-size: 2rem;
}
.hero-text {
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 750px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}





/* about*/

.container_about{

    border: 2px solid rgb(0, 0, 0);
    margin: 60px;
    padding-right: 20px;
}



.imageAboutPage {
    width: 80%;
    margin-bottom: 40px;
    margin-left: 30px;
}

.texto_about{
    text-align: left;
}



.text-center{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}


.about_description{
    margin-top: 40px;
    margin-left: 40px;
}
/* Iconos */

#iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

#iconos img{
    width: 150px;
    height: 150px;
}
    #iconos img:hover {
        transform: scale(1.2);
    background-color:rgb(255, 255, 255) ;
        border-radius: 10px;
        transition: all 1s;
    }
/* Portfolio */

#portfolio{
background-color: white;
}




 

    .texto_about{
        padding: 40px;
        
    }

    .drone{
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

    .imagen_drone{
        margin-bottom: 40px;
        height: 100px;
       
        animation-name: slow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    opacity: 1;

    }

    .imagen_drone2{
        margin-bottom: 40px;
        height: 100px;
       
        animation-name: slow2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    opacity: 1;
    }


    .mapa_texto{
        padding: 70px;
        
    }

    .social-icons {
        font-size: 36px;
        cursor: pointer;
    }
    .fa-instagram:hover,.fa-linkedin:hover {
        color: #35b9e1;
    }
    .fab {
        color: #ffffff;
    }
    /* footer styling */
    #footer {
        background-color: #000000;
        text-align: center;
        height: 100px;
    }
   

    #contact{
        text-align: center;
        background-color: #d3d3d3;
    }

    .textSupport{
        margin-left: 40px;
        padding-top: 40px;
    }

    #formulario {
        display: flex;
        justify-content: center;
        padding: 50px;
    }

    .formulario_soporte {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .campo_textarea {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 200px;
    

    }

    .main_support {
        
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main_support_form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;

    }

    #nombre{

    margin-right: 17px;
    }

    #apellido{

        margin-right: 16px;
        }

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

.navbar {
   
    height: 100px;
}

.imagenlogo{
    height: 140px;
    width: 140px;
}








@keyframes slow {

    0%,
    100% {
        transform: translate(-25px, -25px);
    }

    25% {
        transform: translate(50px, -25px);
    }

    50% {
        transform: translate(25px, 50px);
    }

    75% {
        transform: translate(75px, 25px);
    }
}

@keyframes slow2 {

    0%,
    100% {
        transform: translate(-25px, -25px);
    }

    25% {
        transform: translate(25px, 75px);
    }

    50% {
        transform: translate(20px, 25px);
    }

    75% {
        transform: translate(-25px, 50px);
    }
}
}